doctype html
html
  block init
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name="author" content="Simulating the Melting of Ice Caps")
    meta(property="og:url", content="http://imaginary.github.io/melting-ice-caps/")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Simulating the Melting of Ice Caps")
    block meta
    link(rel="icon", type="image/ico", href="assets/img/favicon.png")
    link(rel='stylesheet', href='css/default.css?v=0', media='screen',type='text/css')
    script(type="text/javascript", src="js/bundle.min.js")
    title
      block title
    block head
  block body
  block closing
