body {
  @include regularText;
  color: $color-white;
  @include neg;
  background-color: $color-blue-darker;
}

h1 {
  @include largeText;
  text-transform: uppercase;
  text-align: center;
  margin: 2vmin 0;
}

h2 {
  @include mediumText;
}

.large {
  @include mediumText;
}

small {
  @include smallText;
}

a {
  color: $color-white;
  @include neg;
}

.img-responsive {
  margin-bottom: 1vmin;
}

.subtitle {
  @include largeText;
  text-align: center;
}

.panel {
  background-color: $color-blue-darker;
  color: $color-white;
  @include neg;
  padding: 10px;
  border: 1px solid $color-white;
  border-radius: 5px;
}
