extends tpl/page

block title
  | Simulating the Melting of Ice Caps

block main
  #main
    .header
      .title Simulating the melting of Ice Caps
    .slideshow-wrapper
      .slideshow
        .slide(data-slide-id='1')
          | Slide 1
        .slide(data-slide-id='2')
          | Slide 2
        .slide(data-slide-id='3')
          | Slide 3
        .slide(data-slide-id='4')
          | Slide 4
        .slide(data-slide-id='5')
          | Slide 5
        .slide(data-slide-id='6')
          | Slide 6
        .slide(data-slide-id='7')
          | Slide 7
        .slide(data-slide-id='8')
          | Slide 8
        .slide(data-slide-id='9')
          | Slide 9
        .slide(data-slide-id='10')
          | Slide 10
        .slide(data-slide-id='credits')
          | Credits
    .footer
      .navigator
        ul.toc
          li
            a(href='#1') 1
          li
            a(href='#2') 2
          li
            a(href='#3') 3
          li
            a(href='#4') 4
          li
            a(href='#5') 5
          li
            a(href='#6') 6
          li
            a(href='#7') 7
          li
            a(href='#8') 8
          li
            a(href='#9') 9
          li
            a(href='#10') 10
          li
            a(href='#credits') i
